<!doctype html>
<html lang="en">
  <head>
  	<title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/table.css">
    <!-- Vendor CSS Files -->
    <link href="css/vendor/aos/aos.css" rel="stylesheet" type="text/css"/>
    <link
      href="css/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="css/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet" type="text/css"
    />
    <link href="css/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="css/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="css/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="css/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="css/front_end.css" rel="stylesheet" type="text/css"/>

	</head>
	<body>
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center">
              <h1 class="logo me-auto"><a href="#">Style Mart</a></h1>
              <!-- Uncomment below if you prefer to use an image logo -->
              <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      
              <nav id="navbar" class="navbar">
                <ul>
                  <li><a class="nav-link scrollto " href="/home">Home</a></li>
                  <li><a class="nav-link scrollto" href="#about">About</a></li>
                  <li>
                    <a class="nav-link scrollto active" href="/worker">Worker</a>
                  </li>
                  <li><a class="nav-link scrollto" href="/transaction">Transactions</a></li>
                  <li><a class="nav-link scrollto" href="/customer">Customer</a></li>
                  <li><a class="nav-link scrollto" href="/product">Product</a></li>
                  <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Drop Down 1</a></li>
                    <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Drop Down 2</a></li>
                    <li><a href="#">Drop Down 3</a></li>
                    <li><a href="#">Drop Down 4</a></li>
                  </ul>
                </li> -->
                  <li>
                    <a class="nav-link scrollto" href="/purchase_history">Purchase History</a>
                  </li>
                  <li>
                    <a class="getstarted scrollto" href="/">Logout</a>
                  </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
              </nav>
              <!-- .navbar -->
            </div>
          </header>
	<section class="ftco-section">
    
      
    <style>
                        
      .ben {
        margin: 0;
        position: absolute;
        top: 12%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    </style>
      <div>
        <a href="/add-product" class="btn btn-outline-secondary ben" >Add A New Product</a>
      </div>
     

   
    
    
  <br>
		<div class="container">
			<div class="row justify-content-center">
				
			</div>
			<div class="row">
					
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Product ID</th>
					        <th>Name</th>
					        <th>Quantity</th>
					        <th>Selling Price</th>
					        <th>Update</th>
					        <th>Delete</th>
					      </tr>
					    </thead>
					    <tbody>
                            <% for(var i=0;i < products.length ;i++){%>
                                <tr>
                                    <td><%=products[i].id%></td>
                                    <td><%=products[i].name%></td>
                                    <td><%=products[i].quantity%></td>
                                    <td><%=products[i].selling_price%></td>
                                    <td><a href="/update_product?id=<%=products[i].id%>" class="btn btn-success">Update</a></td>
                                    <td><a class="btn btn-danger delete" data-id=<%=products[i].id%>>Delete</a></td>
                                </tr>
                                <%}%>
					    </tbody>
					  </table>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/table_main.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/index_1.js"></script> 

	</body>
</html>

