<%-include('include/_header')%>

<main id="int-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-product" class="border-shadow">
                <span class="text-gradient">New product</span>
            </a>
        </div>
        <br>
        <form action="/product" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Selling Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i < products.length ;i++){%>
                    <tr>
                        <td><%=products[i].id%></td>
                        <td><%=products[i].name%></td>
                        <td><%=products[i].quantity%></td>
                        <td><%=products[i].selling_price%></td>
                        <td>
                            <a href="/update_product?id=<%=products[i].id%>" class="btn border-shadow update">
                                <span class="text-gradient"></span>
                            </a>
                            <a class="btn border-shadow delete" data-id=<%=products[i].id%>>
                                <span class="text-gradient"></span>
                            </a>
                        </td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </form>
    </div>
</main>

<%-include('include/_footer')%>